@import "tailwindcss";

@font-face {
  font-family: Inter;
  font-display: swap;
  src:
    local('Inter'),
    url('/Inter.woff2') format('woff2')
}

:root {
  font-family: Inter, system-ui;
  color-scheme: dark light;
}